#map {
  float: left;
  width: 80%;
  height: 100vh;
}

#list {
  float: right;
  width: auto;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 5px;
}

.restaurantInfoItem {
  padding: 20px;
}

.restaurantInfoItem:hover {
  background: silver;
}
