#map {
  float: left;
  width: 80%;
  height: 100vh;
}

button {
  margin-bottom: 10px;
}
.button {
  position: relative;
  padding: 20px;
}

#home,
#within_200m {
  margin-left: 20px;
}

#list {
  float: right;
  width: auto;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 5px;
}

.restaurantInfoItem {
  padding: 20px;
}

.restaurantInfoItem:hover {
  background: silver;
}
