#B {
  position: absolute;
  width: 80%;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#back_area,
#keyword_area {
  width: 100%;
  margin-bottom: 2%;
}

.keyword > button {
  margin-right: 0.6%;
  margin-bottom: 0.6%;
  padding-left: 1%;
  padding-right: 1%;
  width: max-content;
  height: 4vh;
  background-color: white;
}

#plus_button:hover {
  background-color: lightgreen;
}

#keyword_word_area > button:hover {
  background-color: lightcoral;
}

#left_screen {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 49%;
}

#recommend_area {
  width: 100%;
  margin-bottom: 2%;
}

#title_area {
  margin-bottom: 1%;
}

#refresh_button {
  margin-left: 1%;
  float: bottom;
}

#recommend_area > #list {
  width: 100%;
  background-color: #f0f0f0;
}

#list_item {
  padding: 2%;
  background-color: white;
  margin: 2px;
}

#list_item:hover {
  background-color: lightgreen;
}

#list_item_title_area {
  margin-bottom: 1%;
}

#list_item_title_area > span:nth-child(1) {
  font-size: 1rem;
  /* color: firebrick; */
}

#list_item_title_area > span:nth-child(2) {
  float: right;
  /* color: firebrick; */
}

#list_item_body_area {
  display: grid;
}

#list_item_body_area > span:nth-child(1) {
  color: rgb(255, 88, 88);
  margin-bottom: 1%;
}

#list_item_body_area > span:nth-child(2) {
  color: rgb(88, 141, 255);
}

#list_item_body_area > div:nth-child(4) {
  margin-top: 1%;
  color: gray;
}

#list_item_body_area > span:nth-child(1),
#list_item_body_area > span:nth-child(2),
#list_item_body_area > span:nth-child(3),
#list_item_body_area > div:nth-child(4) {
  font-size: 0.9rem;
}

#map {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 49%;
  height: 76vh;
}
