#B {
  position: absolute;
  width: 80%;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#back_area {
  margin-bottom: 1%;
}

#keyword_area {
  width: 100%;
  margin-bottom: 1%;
}

#keyword_area > #title_area {
  margin-bottom: 1%;
}

.keyword > button {
  margin-right: 0.6%;
  margin-bottom: 0.6%;
  padding-left: 1%;
  padding-right: 1%;
  width: max-content;
  height: 4vh;
  background-color: white;
}

#plus_button:hover {
  background-color: lightgreen;
}

#keyword_word_area > button:hover {
  background-color: lightcoral;
}

#left_screen {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 49%;
}

#recommend_area,
#list.list {
  width: 100%;
  margin-bottom: 2%;
}

#title_area.recommend,
#title_area.list {
  margin-bottom: 2%;
}

#refresh_button {
  margin-left: 1%;
  float: bottom;
}

#recommend_area > #list {
  width: 100%;
  background-color: #f0f0f0;
}

#list.recommend > div,
#list_area.list > div {
  padding: 2%;
  background-color: white;
  margin: 2px;
}

#list.recommend > div:hover,
#list_area.list > div:hover {
  background-color: lightgreen;
}

#list_item_title_area.recommend {
  margin-bottom: 1%;
}

#list_item_title_area.recommend > span:nth-child(1),
#list_item_title_area.list > span:nth-child(1) {
  font-size: 1rem;
  /* color: firebrick; */
}

#list_item_title_area.recommend > span:nth-child(2),
#list_item_title_area.list > span:nth-child(2) {
  float: right;
  /* color: firebrick; */
}

#list_item_body_area.recommend > div:nth-child(1),
#list_item_body_area.list > div:nth-child(1) {
  color: rgb(255, 88, 88);
  margin-bottom: 1%;
}

#list_item_body_area.recommend > span:nth-child(2),
#list_item_body_area.list > span:nth-child(2) {
  color: rgb(88, 141, 255);
  margin-bottom: 1%;
}

#list_item_body_area.recommend > span:nth-child(3),
#list_item_body_area.list > span:nth-child(3) {
  float: right;
  margin-bottom: 1%;
}

#list_item_body_area.recommend > div:nth-child(4),
#list_item_body_area.list > div:nth-child(4) {
  margin-top: 1%;
  color: gray;
}

#list_item_body_area.recommend > *,
#list_item_body_area.list > * {
  font-size: 0.9rem;
}

#list_area.list {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  height: 56vh;
  background-color: #f0f0f0;
}

#map {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 49%;
  height: 85%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content > button {
  margin: 1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 20%;
  height: 8vh;
  font-size: 1rem;
  background-color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  float: top;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
