body {
  background-color: #49b48218;
}

h2 {
  margin: 3%;
  text-align: center;
}

#A {
  display: flex;
  justify-content: center;
}

#recommend_area,
#search_area {
  flex-wrap: wrap;
  width: 45%;
  height: 75vh;
  padding: 3%;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

#recommend_area {
  float: left;
  margin-right: 1%;
}

#refresh_button {
  width: 5%;
  height: 5%;
  float: right;
  font-size: 1rem;
}

#search_button {
  padding-left: 3%;
  padding-right: 3%;
}

#title_area {
  width: 100%;
}

#ex {
  margin-top: 2%;
  color: silver;
}

#title_area > hr {
  width: 100%;
  height: 3px;
  margin-top: 4%;
  border-bottom: 0%;
}

/* ------------------------------------------- */

#recommend_area > #list {
  width: 100%;
  margin-top: 0.5%;
}

#list_item {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  transition: background-color 0.1s ease-out 1ms;
}

#list_item:hover {
  background-color: #1987541c;
}

#list > hr {
  border-bottom: 0%;
  width: 100%;
  margin: 0%;
}

#list > hr:last-child {
  display: none;
}

#list > button {
  margin-top: 2%;
}

#list_item_area {
  font-size: 1.1rem;
  margin-bottom: 2%;
}

.item-title {
  font-size: 1.2rem;
  margin-right: 2%;
}

.item-distance {
  float: right;
  margin-right: 5%;
}

.item-rate {
  float: right;
}

#cate_area {
  float: right;
  width: 38%;
  text-align: right;
  margin-right: 5%;
}

#cate_area > span {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  background-color: #19875423;
  margin-left: 2%;
}

#list_item_body_area > * {
  display: inline-block;
  margin-top: 1%;
}

#shortcut_button {
  float: right;
}

.btn-outline-secondary {
  color: black;
}

/* ------------------------------------------- */

#keyword {
  margin-bottom: 8%;
}

.tag-button {
  width: calc(100% / 4 - 2%);
  height: 8vh;
  min-height: 40px;
  margin: 1%;
  transition: background-color 0.1s ease-out 1ms;
}

.tag-button:hover {
  background-color: #19875423;
  color: #198754;
}

.tag-button-on {
  width: calc(100% / 4 - 2%);
  height: 8vh;
  min-height: 40px;
  margin: 1%;
  background-color: #198754;
  color: white;
  transition: background-color 0.1s ease-out 1ms;
}

.tag-button-on:hover {
  background-color: #156e44;
}

#search_button {
  width: 100%;
  height: 6vh;
  min-height: 40px;
  margin: 1%;
}
