#A {
  position: absolute;
  width: 70%;
  height: 65vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#recommend_area,
#search_area {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: auto;
}

#recommend_area {
  float: left;
  margin-right: 10%;
}

#refresh_button,
#search_button {
  float: right;
  font-size: 1rem;
}

#search_button {
  padding-left: 3%;
  padding-right: 3%;
}

#title_area {
  width: 100%;
  margin-bottom: 10%;
}

/* ------------------------------------------- */

#recommend_area > #list {
  width: 100%;
}

#list_item {
  padding: 3%;
  background-color: white;
  transition: background-color 0.1s ease-out 1ms;
}

#list_item:hover {
  background-color: #19875423;
}

#list_item_title_area {
  margin-bottom: 2%;
  font-size: 1.1rem;
}

#list_item_body_area {
  font-size: 00.9rem;
}

#list_item_body_area > div:nth-child(1),
#cate_area {
  margin-bottom: 1%;
}

#list_item_title_area > span:nth-child(2),
#cate_area > span:nth-child(2) {
  float: right;
}

#list_item_body_area > span:last-child {
  display: inline-block;
  margin-top: 1%;
}

#shortcut_button {
  float: right;
}

/* ------------------------------------------- */

#keyword {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
  padding: 4px;
  text-align: center;
  background-color: white;
}

.tag-button {
  width: 30%;
  height: 8vh;
  min-height: 40px;
  padding: 5px;
  margin: 1%;
  transition: background-color 0.1s ease-out 1ms;
}

.tag-button:hover {
  background-color: #19875423;
  color: #198754;
}

.tag-button-on {
  width: 30%;
  height: 8vh;
  min-height: 40px;
  padding: 5px;
  margin: 1%;
  background-color: #198754;
  color: white;
  transition: background-color 0.1s ease-out 1ms;
}

.tag-button-on:hover {
  background-color: #156e44;
}
